.loginContainer {
  border-radius: 5px;
  width: 600px;
  position: relative;
}

.loginForm {
  padding: 25px;
  border: 1px solid #bbb;
  border-radius: 5px;
  background-color: #bbb;
  color: black;
  position: relative;
}

.loginForm input {
  margin-bottom: 10px;
}

.loginForm button, .loginForm div {
  margin-top: 15px;
  margin-bottom: 0;
}

.loginForm input[type="checkbox"] {
  padding: 0;
  margin-bottom: 0;
  vertical-align: bottom;
}

.flags {
  background-color: #999;
  padding: 6px 3px 3px 3px;
  border-radius: 4px;
  bottom: -27px;
  right: 5px;
  z-index: -99;
}

.main-header {
  transition: all 0.3s;
  margin-left: 75px;
  border-bottom: 1px solid #dee2e6;
  padding: 0.7rem;
}

.navbar-badge {
  font-size: .6rem;
  font-weight: 300;
  padding: 2px 4px;
  position: absolute;
  right: 3px;
  top: 7px;
}

.navbar-white {
  background-color: #fff;
}

.main-wrapper:not(.sidebar-collapsed) .main-header {
  transition: all 0.3s;
  margin-left: 250px;
}

.main-sidebar {
  background-color: #343a40;
  width: 250px;
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  z-index: 999;
  color: #fff;
  transition: all 0.3s;
}

.main-sidebar.collapsed {
  margin-left: 0;
  width: 4.6rem;
}

.hide-collapsed {
  transition: all 0.2s linear;
  opacity: 1;
}

.main-sidebar.collapsed .hide-collapsed {
  opacity: 0;
  font-size: 0;
  margin-left: 0;
}

.main-content {
  /* background-color: red; */
  height: 100%;
}

.main-wrapper {
  height: 100%;
}

.dropdown-menu-lg {
  max-width: 300px;
  min-width: 280px;
  padding: 0;
}

.brand-link {
  display: block;
  font-size: 1.5rem;
  line-height: 2;
  padding: 1rem;
}
