html, body {
  height: 100%;
  margin: 0;
  padding: 0;
  font-family: "Verdana";
  color: #555;
}

.syntaxhighlighter { margin-left: -25px; }

.no-underline:hover { text-decoration: none; }
.background { background-color: #fefefe; }
.background-gray { background-color: gray; }
.background-lightgray { background-color: lightgray; }
.background-light-blue { background-color: rgb(88, 160, 224); }
.background-jumbotron { background-color: #e9ecef; }

/* TEXT COLOR */
.text-white, .text-white:hover { color: white }
.text-black, .text-black:hover { color: black; }
.text-gray, .text-gray:hover { color: gray; }
.text-default, .text-default:hover { color: #555; }
.text-title, .text-title:hover { color: #333; text-decoration: underline; font-weight: bold; font-size: 1.7em; }
.text-red, .text-red:hover { color: red; }
.text-inherit, .text-inherit:hover { color: inherit; }
.text-green-attr { color: #50a14f; }
.text-cyan { color: cyan; }
.highlight { background-color: yellow; }

.code-box { background-color: #e0e0e0;
  color: rgba(0,0,0,.87);
  border-radius: 1px;
  padding: 2px;
  border: 1px solid #ddd;
  word-break: break-all;
  overflow-wrap: anywhere;
}


/* TEXT TRANSFORM */
.underline { text-decoration: underline; }
.italic { font-style: italic; }
.bold { font-weight: bold; }
.text-super { vertical-align : super; }

/* TEXT SIZE */
.text-xxs { font-size: 13px; }
.text-xs { font-size: 15px; }
.text-m { font-size: 20px; }
.text-xl { font-size: 22px; }
.text-xxl { font-size: 25px; }
.text-xxxl { font-size: 30px; }

/* MARGINS */
.margin-xs { margin: 5px; }
.margin-m { margin: 10px; }
.margin-xl { margin: 15px; }
.margin-top-xxs { margin-top: 10px; }
.margin-top-xs { margin-top: 15px; }
.margin-top-m { margin-top: 20px; }
.margin-top-xl { margin-top: 25px; }
.margin-top-xxl { margin-top: 30px; }
.margin-top-xxxl { margin-top: 40px;  }
.margin-bottom-xxs { margin-bottom: 10px; }
.margin-bottom-xs { margin-bottom: 15px; }
.margin-bottom-m { margin-bottom: 20px; }
.margin-bottom-xl { margin-bottom: 25px; }
.margin-bottom-xxl { margin-bottom: 30px; }
.margin-bottom-xxxl { margin-bottom: 40px;  }
.margin-left-xxs { margin-left: 10px; }
.margin-left-xs { margin-left: 15px; }
.margin-left-m { margin-left: 20px; }
.margin-left-xl { margin-left: 25px; }
.margin-left-xxl { margin-left: 30px; }
.margin-center { margin-left: auto; margin-right: auto; }
.margin-none { margin: 0 !important; }

/* PADDINGS */
.padding-xs { padding: 5px; }
.padding-m { padding: 10px; }
.padding-xl { padding: 15px; }
.padding-xxl { padding: 20px; }
.padding-xxxl { padding: 25px; }
.padding-top-m { padding-top: 10px; }
.padding-top-xl { padding-top: 15px; }
.padding-top-xxl { padding-top: 20px; }
.padding-bottom-m { padding-bottom: 10px; }
.padding-bottom-xxl { padding-bottom: 20px; }
.padding-left-xs { padding-left: 5px; }
.padding-left-xl { padding-left: 15px; }
.padding-none { padding: 0; }

/* BORDER */
.round { border-radius: 50%; }
.border-white { border-color: white; }
.border-grey { border-color: grey; }
.border-xxs { border: 1px solid; }
.border-xs { border: 2px solid; }
.border-m { border: 3px solid; }
.border-bottom-xss { border-bottom: 1px solid; }
.round-border-xs { border-radius: 2px; }
.round-border { border-radius: 5px; }
.round-border-xl { border-radius: 10px; }
.self-center { align-self: center; }

/* LAYOUT */
.fullheight { height: 100%; }
.fullwidth { width: 100%; }
.max-full-width { max-width: 100%; }
.restwidth { width: auto; }
.width-75  { width: 75%; }
.relative { position: relative; }
.absolute { position: absolute; }

.bottom { bottom: 0; }
.hide-overflow { overflow: hidden; }
.hidden { display: none; }
.clickable { cursor: pointer; }

/* SCROLLBARS */
.vertical-scroll { overflow-y: auto; }

.mainContent {
  margin-top: 40px;
  margin-bottom: 100px;
}

.sidebar-toggle {
  position: absolute;
  top: 15px;
  left: 15px;
}

.sidebar-toggle:hover {
  background-color: rgb(69, 150, 240);
}

.external::after {
  font-family: "Font Awesome 5 Free";
  font-weight: 600;
  content: "  \f35d";
  font-size: 10px;
  vertical-align: super;
}

.navigation {
  padding-left: 15px;
}

.fullscreen-container {
  margin: auto;
  position: fixed;
  top: 0; left: 0; bottom: 0; right: 0;
  z-index: 9999;
  overflow-y: auto;
  overflow-x: hidden;
  background-color: transparent;
  background-color: #000;
  background-color: rgba(0, 0, 0, 0.6);
}

.thumbnail {
  border: 3px solid gray;
}

.fullscreen-container > img {
  position: fixed;
  z-index: 1000;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  max-width: 95%;
  max-height: 95%;
  height: auto;
  border: 3px solid gray;
}

.closeButton {
  position: fixed;
  top: 30px;
  right: 30px;
  padding: 5px 9px 5px 9px;
  background-color: #ddd;
  border: 1px solid black;
  font-size: 20px;
  font-weight: bold;
  cursor: pointer;
}

.flags {
  padding: 3px;
}

.flags > a {
  margin: 5px;
}

span > .hljs {
  display: inline;
  padding: .2em;
}

.inlineLink:hover {
  text-decoration: underline;
  cursor: pointer;
}

.bash {
  background-color: #2E3436;
  padding: 3px 5px 3px 5px;
}

.bash > span {
  color: #D3D7CF;
  overflow-wrap: anywhere;
  word-break: break-all;
}

.bash > span:first-child {
  display: inline;
  color: #4E9A06;
}

.file-icon {
  padding-bottom: 5px;
}
