php_flag display_errors on
Options -Indexes

DirectorySlash Off

RewriteEngine On
RewriteRule ^api(/.*)?$ /index.php?api=$1 [L,QSA]

RewriteEngine On
RewriteOptions AllowNoSlash
RewriteRule ^((\.idea|\.git|src|test|core|static)(/.*)?)$ /index.php?site=$1 [L,QSA]

RewriteEngine On
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^(.*)$ /index.php?site=$1 [L,QSA]