{% extends "base.twig" %}

{% block head %}
    <title>{{ site.name }} - Administration</title>
    <link rel="stylesheet" href="/css/fontawesome.min.css" nonce="{{ site.csp.nonce }}">
{% endblock %}

{% block body %}
    <noscript>You need Javascript enabled to run this app</noscript>
    <div type="module" id="admin-panel"></div>
    <script src="/js/admin-panel/index.js" nonce="{{ site.csp.nonce }}"></script>
    <link rel="stylesheet" href="/js/admin-panel/index.css" nonce="{{ site.csp.nonce }}"></link>
{% endblock %}
