Hello {{ username }},<br><br>
this is a notification, that 2FA-Authorization was removed from your account. If this was intended, you can simply ignore this email.<br>
Otherwise contact the <a href="mailto:{{ sender_mail }}">Administration</a> immediately!<br><br>

Best Regards<br>
{{ site_name }} Administration