.data-table {
    padding: 0;
}

.data-table td, .data-table th {
    padding: 5px;
    vertical-align: middle;
}

.data-table th {
    background-color: #bbb;
    white-space: nowrap;
}

.data-table th > svg {
    vertical-align: middle;
    width: 18px;
    height: 18px;
    margin-right: 5px;
}

.center {
    text-align: center;
}

.data-table-clickable {
    cursor: pointer;
}

.pagination-controls {
    margin-top: 6px;
}

.pagination-page-size > div {
    padding-top: 5px;
    padding-bottom: 5px;
}

.data-table-buttons {
    white-space: nowrap;
}

.data-table-buttons > svg {
    margin-left: 4px;
    margin-right: 4px;
    cursor: pointer;
}