.data-table {
    padding: 0;
}

.data-table td, .data-table th {
    padding: 5px;
    vertical-align: middle;
}

.data-table th {
    background-color: #bbb;
}

.data-table th > svg {
    vertical-align: middle;
    width: 18px;
    height: 18px;
    margin-right: 5px;
}

.center {
    text-align: center;
}

.data-table-clickable {
    cursor: pointer;
}